@model WebDL.Context.TourDuLich

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>

    .details-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

        .details-container h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .details-container hr {
            margin-top: 10px;
            margin-bottom: 20px;
        }

    .details-list dt {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .details-list dd {
        margin-bottom: 10px;
    }

    .details-actions {
        margin-top: 20px;
    }

        .details-actions a {
            margin-right: 10px;
        }
</style>
<div class="details-container">
    <div>
        <h4>Thông tin Tour</h4>
        <hr class="mb-4" />

        <dl class="details-list">
            <dt>
                Tên Tour
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TenTour)
            </dd>

            <dt>
                Mô Tả
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MoTa)
            </dd>

            <dt>
                Giá
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GiaFormatted)
            </dd>
            <dt>
                Ngày Bắt Đầu
            </dt>
            <dd>
                @Html.TextBoxFor(model => model.NgayBatDau, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "text" })
            </dd>

            <dt>
                Ngày Kết Thúc
            </dt>
            <dd>
                @Html.TextBoxFor(model => model.NgayKetThuc, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "text" })
            </dd>


            <dt>
                Link Ảnh
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LinkAnh)
            </dd>

            <dt>
                Điểm Đến
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DiemDen.TenDiemDen)
            </dd>
        </dl>
    </div>

    <div class="details-actions">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaTour }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Quay lại danh sách", "Index", new { @class = "btn btn-default" })
    </div>
</div>